C:\Users\Евгений\Pictures\Новая папка\C#\ExtraTask\Task2\obj
C:\Users\Евгений\Pictures\Новая папка\C#\ExtraTask\Task1\obj
C:\Users\Евгений\Pictures\Новая папка\C#\ExtraTask\Task1\bin
C:\Users\Евгений\Pictures\Новая папка\C#\ExtraTask\Task2\bin